<!DOCTYPE html>
<html>
<head>
  <title>StripeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= link_to "Stripe Sample App", root_path, :class =>
          'brand' %>
        </div>
      </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
